
/* 스킵 내비게이션 */
#skip { }
#skip a {position: absolute; top: -35px; left: 0px; width: 140px; background: #000; border: 1px solid #fff; color: #fff; text-align: center; line-height: 30px;}
#skip a:active, 
#skip a:focus {top: 0;}


/* 레이아웃 */
#wrap {width: 100%; }
#header {border-top: 1px; }
/*
    background-image: url(../img/header_bg.jpg);
    background-repeat: repeat-x;
    background-position: center;
*/
    background: url(../img/header_bg.jpg) repeat-x center;
}
#contents { }
#footer {border-top: 1px solid #ccc;}

/* 컨텐츠 레이아웃*/
#cont_nav {background-color: #f6fdff;}
#cont_tit {background-color: #eaf7fd;}
#cont_ban {background-color: #dceff7;}
#cont_cont {background-color: #f6fdff;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background-color: rgba(255,255,255,0);}

/* 헤더 */
.header { }
.header .header-menu {text-align: right;}
.header .header-menu a {color: #fff; padding: 10px 0 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}

.header .header-tit {text-align: center;}
.header .header-tit h1 {color: #fff; background-color: #4aa8d4; display: inline-block; padding: 5px 20px 6px 20px; font-size: 28px; margin-top: 40px; text-transform: uppercase;}
.header .header-tit a {background: #2698cb; font-size: 18px; color: #fff; display: inline-block; padding: 5px 20px 6px 20px; margin-top: -5px;}

.header .header-icon {text-align: center; margin-top: 30px;}
.header .header-icon a {display: inline-block; width: 60px; height: 60px; background: url(../img/icon.png); }
.header .header-icon a.icon1 {background-position: 0 0; }
.header .header-icon a.icon2 {background-position: 0 -60px; }
.header .header-icon a.icon3 {background-position: 0 -120px; }
.header .header-icon a.icon4 {background-position: 0 -180px; }
.header .header-icon a:hover.icon1 {background-position: -60px 0;}
.header .header-icon a:hover.icon2 {background-position: -60px -60px;}
.header .header-icon a:hover.icon3 {background-position: -60px -120px;}
.header .header-icon a:hover.icon4 {background-position: -60px -180px;}

/* 전체메뉴 */
.nav {overflow: hidden; padding: 20px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;} /* ie9부터 적용 */
.nav > div.last {width: 20%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ul {overflow: hidden; }
.nav > div ul li {float: left; width: 50%; padding-bottom: 2px;}
.nav > div:last-child ul li {width: 100%;} /* ie9부터 적용 */
.nav > div.last ul li {width: 100%;}
.nav > div ul li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative; text-align: center; }
.tit h2 {font-size: 40px; color: #3c94c4; padding: 5px 0; letter-spacing: 2px; font-family: 'Nanum Brush Script', cursive;  }
.tit .btn {position: absolute; right: 0; top: 5px; width: 60px; height: 60px; 
    background: url(../img/icon.png) no-repeat 0 -600px; }
.tit .btn:hover {background-position: -60px -600px;}

/* 배너 */
.ban {position: relative; padding: 24px 0 20px;}
.ban > a {position: absolute; top: 60px; width: 43px; height: 43px; background: url(../img/icon.png);}
.ban a.prev {left: -70px; background-position: -150px 0;}
.ban a.next {right: -70px; background-position: -150px -43px;}
.ban ul {overflow: hidden; }
.ban ul li {float: left; width: 330px;}
.ban ul li:last-child {text-align: right;}  /* ie부터 적용 */
.ban ul li:nth-child(2) {text-align: center;}  /* ie부터 적용 */ 
.ban ul li.ban_img1 {text-align: left; } /* 모든버전 */ 
.ban ul li.ban_img2 {text-align: center; }  /* 모든버전 */ 
.ban ul li.ban_img3 {text-align: right; }  /* 모든버전 */ 
.ban ul li img {border: 4px solid  #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}

/* 컨텐츠 */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {position: relative; float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px; }
.cont .col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display: block; width: 60px; height: 60px; background-image: url(../img/icon.png); position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c84c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}



.cont .column.col1 .ico_img {background-position: 0px -240px;}
.cont .column.col2 .ico_img {background-position: 0px -300px;}
.cont .column.col3 .ico_img {background-position: 0px -360px;}
.cont .column.col4 .ico_img {background-position: 0px -420px;}
.cont .column.col5 .ico_img {background-position: 0px -480px;}
.cont .column.col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px; }
.cont .col2 .ico_img:hover {background-position: -60px -300px; }
.cont .col3 .ico_img:hover {background-position: -60px -360px; }
.cont .col4 .ico_img:hover {background-position: -60px -420px; }
.cont .col5 .ico_img:hover {background-position: -60px -480px; }
.cont .col6 .ico_img:hover {background-position: -60px -540px; }


/* 게시판*/
.notice { position: relative; }
.notice h4  {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight:bold;}
.notice ul li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 9px;}
.notice .more { position: absolute; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}


/* 게시판2 */

.notice2 {position: relative; }
.notice2 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight:bold; }
.notice2 ul {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.notice2 ul li {overflow: hidden; background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 9px; }
.notice2 ul li a { float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.notice2 ul li span {float: right; width: 30%; text-align: right;}
.notice2 .more { position: absolute; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px; }



/* 게시판3 */

.notice3 {position: relative;  }
.notice3 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight:bold;  }
.notice3 li { position:relative;  padding: 8px 0 14px 60px; height: 40px; /* ie7*/ }
.notice3 li a img {width: 50px; position: absolute; left: 0; top: 0; border: 1px solid #0093bd; }
.notice3 li a strong { display: block; }
.notice3 li a span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 .more {position: absolute; right: 0; top: 0; background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px; }

/* 게시판4- 오버 효과 */
.notice_hover h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight:bold; }
.notice_hover ul {overflow: hidden; }
.notice_hover ul li { float: left; width: 93px; margin-right: 5px;}
.notice_hover ul li:last-child {margin-right: 0;} /* 9부터 적용*/
.notice_hover ul li.last-child {margin-right: 0;}
.notice_hover ul li a span {position: relative; display: block; width: 93px; height: 93px; }
.notice_hover ul li a span img {width: 93px; display: block;}
.notice_hover ul li a span em { visibility: hidden;  position: absolute; bottom: 0; background: rgba(0,0,0,0.7); width: 100%; color: #fff; text-align:center; padding-bottom: 3px;}
.notice_hover ul li a span:hover em {visibility: visible;}
.notice_hover ul li a strong { text-align: center; display: block; }

/* 게시판4- 오버 효과2 */
.notice_hover2 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight:bold; }
.notice_hover2 ul {overflow: hidden; }
.notice_hover2 ul li { float: left; width: 93px; margin-right: 5px; }
.notice_hover2 ul li:last-child {margin-right: 0; } /* 9부터 적용*/
.notice_hover2 ul li.last-child {margin-right: 0; }
.notice_hover2 ul li a span {position: relative; display: block; width: 93px; height: 93px; }
.notice_hover2 ul li a span img {width: 93px; display: block; }
.notice_hover2 ul li a span em { visibility: hidden;  position: absolute; left: 0; bottom: 0; 
background: rgba(0,0,0,0.7);
 /* background: #000; opacity: 0.7; filter: alpha(opacity=50); ie7,8용 */
background: #000; opacity: 0.7;
width: 100%;  color: #fff; text-align:center;}
.notice_hover2 ul li a span:hover em {visibility: visible; }
.notice_hover2 ul li a strong { text-align: center; display: block; }


/*탭 메뉴*/
.tab_menu { position: relative; border: 1px solid #ccc; height: 105px; padding: 8px; }
.tab_menu ul{ overflow: hidden; border-bottom:  1px solid #ccc; }
.tab_menu ul li { float: left; border: 1px solid #ccc; margin-right: -1px;  margin-bottom: -1px;}
.tab_menu ul li a { padding: 5px 10px; display: block; }
.tab_menu ul li ul { position: absolute; left: 10px; top: 48px; border: 0; }
.tab_menu ul li ul li { float: none; border: 0; background: url(../img/dot.gif) no-repeat 0 9px; padding: 0 0 3px 9px; }
.tab_menu ul li ul li a { padding: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 265px; }
.tab_menu ul li.active { background: #2c94c4; }
.tab_menu ul li.active a { color: #fff; }
.tab_menu ul li.active ul li a { color: #333; }


/* 게시판5 */
.notice4 {position: relative; border: 1px solid #ccc; }
.notice4 h4 {font-style: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold; border-bottom: 1px solid #ccc; padding: 8px 10px;}
.notice4 h4 em {color:  #cf3292; }
.notice4 ul {padding: 10px; }
.notice4 li {overflow: hidden; background: url(../img/dot.gif) no repeat 0 10px; padding-left: 0 0 2px 8px; }
.notice4 li a {float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} 
.notice4 li span {float: right; width: 30%; text-align: right;}
.notice4 .more {position: absolute; right: 9px; top: 9px; }


/* 갤러리 */
.gallery { position: relative; border: 1px solid #ccc; height: 254px; overflow: hidden;  }
.gallery h4 { font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold; }
.gallery .gallery_btn { position: absolute; top: 8px; right: 5px;}
.gallery .gallery_btn ul {overflow: hidden;}
.gallery .gallery_btn li {float: left; margin: 1px 2px; }
.gallery .gallery_btn li a {display: block; width: 23px; height: 23px; background: #000; background: url(../img/icon.png)-150px -120px; } 
.gallery .gallery_btn li.gb_icon1 a { background-position: -150px -120px; }
.gallery .gallery_btn li.gb_icon2 a { background-position: -150px -143px; }
.gallery .gallery_btn li.gb_icon3 a { background-position: -150px -166px; }
.gallery .gallery_btn li.gb_icon4 a { background-position: -150px -189px;}
.gallery .gallery_btn li.gb_icon1 a:hover {  background-position: -173px -120px; }
.gallery .gallery_btn li.gb_icon2 a:hover {  background-position: -173px -143px; }
.gallery .gallery_btn li.gb_icon3 a:hover {  background-position: -173px -166px; }
.gallery .gallery_btn li.gb_icon4 a:hover {  background-position: -173px -189px; }
.gallery .gallery_img img { width: 100%; } 


/* 로그인 */
#login_wrap { background: #f2f4f5; padding: 15px; }
.login_header { overflow: hidden; height: 30px;  }
.login_header .lh_check { float: left; padding-right: 15px; }
.login_header .lh_check .input_check { vertical-align: -2px; }
.login_header .lh_ip { float: left; }
.login_header .lh_ip em {color: #0093bd; text-decoration: underline; }
.login_content { position: relative; }
.login_content .lc_text .lc_btn {position: absolute; right: 0; top: 0; width: 62px; height: 47px; background: #fff; border: 1px solid #bebebe; }
.login_content .lc_text .input_text { width: 180px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; background: #fff; margin-bottom: 3px; }
.login_footer { margin-top: 5px;  }
.login_footer li { display: inline;  }


/* ad */
.ad{ }
.ad h4 {font-size: 14px; color: #0093bd; padding-bottom: 4px; font-weight:bold; }
.ad ul {overflow: hidden; }
.ad ul li { float: left; width: 93px; margin-right: 5px;}
.ad ul li:last-child {margin-right: 0;} /* 9부터 적용*/
.ad ul li a  {position: relative; display: block; width: 93px; height: 93px; }
.ad ul li a  img {width: 93px; display: block;}



/*  푸터 */

.footer {text-align: center; padding:  25px 0; }
.footer ul { margin-bottom:  20px; }
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}
.footer li:before {content: ' '; width: 1px; height: 12px; background: #ccc; position:absolute; left: 0; top: 4px; }
.footer li:first-child:before {width: 0; height: 0; }
 





















