<h2>대상자 선정과 사용자 조사</h2>
<div class="well">사용성과 선호도 분석을 위한 방향 설정을 통해 대상자를 선정할 수 있다.사용성과 선호도 분석을 위한 방향 설정을 통해 대상자를 선정할 수 있다. 사용자 조사 결과 분석에 따라 인사이트를 도출하고 개선 방향을 수립할 수 있다.</div>

<h3>웹 사이트 사용성</h3>
<p>웹 사이트의 사용성 평가는 다른 제품들의 사용성 평가와는 다른 몇가지 고유한 특징을
    가지고 있다. 웹의 매체적 특성 때문에 웹 사용자는 특정 제품을 사용하려는 단일한 목적
    을 가진 사람들로 묶을 수 없기 때문이다. 웹 사용자가 웹 페이지에 접근하려는 목적에
    따라 웹 사용성의 평가 기준이 변한다. 일반적으로 웹 사이트가 성공적으로 구축되었는지
    알아보고자 할 때 고려하게 된는 기본적인 항목들은 사용자의 인터페이스와 관련된 위치
    의 정확성, 이동의 용이성, 레이아웃, 메뉴의 배치, 검색, 반복, 명확성 등으로 구성된다. </p>
    
<h3>사용성 평가 방법</h3>
<p>웹 사용성을 평가하는 방법은 질문법과 감정법으로 나뉜다. 질문법에는 조사법과 설문법
    이 있고 감정법에는 발견적 평가, 속성 검사 및 가이드라인 체크법이 있으며 수행 측정
    및 안구 추적 등의 기법이 있다.</p>
<h3>사용성 테스트 목표 설정</h3>

<p>사용성 테스트 목표를 설정할 때에는 사이트 역할의 정의와 더불어 사용자가 사이트를 방
    문하는 목적과 주로 이용하는 서비스가 무엇인지, 제공한 서비스나 기능을 쉽게 이용할
    수 있는지 등 사용성 테스트를 통해 확인하고자 하는 사항을 명확히 정의해야 한다.</p>

<h3>사용자 조사 방법론의 구분</h3>
<p>사용자 조사 방법으로는 다양한 측정 장비를 활용하여 사용자의 행동을 측정하고 평가하
    는 방법과 설문과 체크리스트를 활용한 사용자 태도에 대한 조사를 할 수 있다. 사용자
    조사 방법론은 크게 정량적인 방법과 정성적인 방법으로 나누고, 그것을 다시 사용자 행
    동과 사용자 태도로 나눈다. </p>
    
<h3> 사용자 행동 분석</h3>
<p>사용자의 행동을 직접적으로 조사하는 방법으로 유저빌리티 테스트, 아이트레킹 등으로
    사용자의 행동을 분석하고 그 의미를 파악할 수 있다</p>
    
<h4>사용자의 태도분석</h4>
<p>사용자의 태도를 직접적으로 조사하는 방법으로 인터뷰와 포커스 그룹을 비롯한 참여 디
    자인, 그룹 작업 조사, 요구 사항 조사, 다이어리, 카메라 조사 등이 있다</p>
    
<h4> 사용자 설문 조사</h4>
<p>사용자의 태도를 간접적으로 조사하는 방법으로 사용자 설문과 고객지원 자료 분석 등이
    있다. </p>

<ul>
    <li>구글 애널리스트<a href="https://analytics.google.com/analytics/web/provision/?authuser=0#/a151247258w214072935p204938793/admin/tracking/tracking-code/"></a></li>
    <li>네이버 애널리스트</li>
    <li>구글 애든센스</li>
</ul>
























