<h2>프로젝트</h2>
<div class="blue">프로젝트 범위 및 목표 기술서 </div>

<h3>프로젝트 범위 및 목표 기술서</h3>

<ol>
    <li>사이트 목적 비전</li>
    <li>사이트 개발 목표
     <ol>
         <li>사용자 관점에서의 만족도</li>
         <li>고객 관점에서의 만족도</li>
     </ol>
    </li>
    <li>대상과 목표에 대한 정의
    <ol>
        <li>사이트 사용자 (사용자 분석-나이, 경험, 교육 등)</li>
        <li>사이트 방문 목적(필요, 흥미, 목적)</li>
        <li>사용자 접속 환경</li>
        <li>사용자 접속 방법 (사용자 컴퓨터 설정- 연결속도,해상도 등)</li>
    </ol>
    </li>
    <li>수행 작업 분석 및 우선 순위 정의
    <ol>
        <ul>
            <li>어떤 작업이 사용자에게 만족을 주는가</li>
            <li>어떤 작업이 사용자에게 가장 중요한가</li>
            <li>어떤 작업이 가장 많이 이용될 것인가</li>
            <li>어떤 작업이 사용성에 있어 이슈가 있을 수 있는가 (취약점)</li>
            <li>얼마나 자주 이용할 것인가</li>
            <li>무엇이 사용자가 이 사이트를 다시 찾게 할 것인가 </li>
        </ul>
    </ol>
    </li>
    <li>사용성의 확인
        <ul>
            <li>사용자들이 쉽게 적은 에러로 작업을 완료할 수 있는가</li>
            <li>사용자들이 능률적으로 빠르게 작업을 완료할 수 있는가</li>
            <li>사이트 이용 후에 사용자들은 어느 정도의 만족을 가질 수 있는가</li>
        </ul>
    </li>
    <li>기대, 요구사항 및 환경 설정에 대한 합의사항</li>
    <li> 접근성, 요구사항의 결정</li>
    <li> 가능한 자원과 요구되는 기술 수준의 정의
 사이트를 업데이트 하고 유지하는데 어느정도 수준의 기술인력을 필요로 하는가</li>
    <li>초기 필수 기술의 논의</li>
    <li> 프로젝트 제약 사항</li>
    
    <h2>아이디어 시각화</h2>
    <div class="well">아이디어를 시각화하기 위한 디자인 기획을 바탕으로 스케치를 할 수 있다.</div>
    <h3> 아이디어 발상법</h3> 
    <h4>브레인스토밍법</h4>
    <p>특정한 주제 또는 문제에 대해 참여자 모두가 아이디어를 사전 조율 없이 그대로 내놓는
         방법이다. 집단적 사고의 전형적인 형태인 이 방법에서 전제하고 있는 기본 가정은 사고
         의 양이 질을 결정한다는 것이며, 양적으로 축적된 아이디어를 목록별로 정리하고, 발전시
         켜 최종 산출물을 얻는다.</p>
         <h4>체크 리스트 기법</h4>
         <h4> 마인드 맵핑법</h4>
         <h4>시네틱스</h4>
         <p>여러 가지 유추로부터 아이디어나 힌트를 얻는 방법으로 유추사고는 대상이 되는 것과 유    
           사한 것을 발상해 내는 발상법이다. 3가지 유추발상법이 있다. 의인적 유추 – 참가자가제     혹은 문제의 대상이 되는 것에 완전히 일차하는 방법
            직접적 유추 – 우리 주위에 있는 사상과 사물을 과제와 연결하는 것
            상징적 유추 – 동화나 이야기의 상징적 인물이나 사건에서 힌트를 얻는 것</p>
            <h4> 강제 결부법</h4>
            <p>독특하고, 일상적인 것을 뛰어넘는 새로운 아이디어가 필요할 때, 혹은 문제에 대한 아이
               디어가 더 이상 떠오르지 않을 때, 다양한 시각에서 아이디어를 생성해 보고 싶을 때 사
                    용하는 것이 바람직하다.</p>
            <h4>형태 분석법</h4>
            <p>해결해야 할 문제를 모든 구성 요소의 조합으로 보고, 그것을 차트화하여 분석하는 방법
이다. 즉, 해결해야 할 문제를 나열하여 3차원 도표의 변수로 보고, 이들 변수를 다시 세
분화하여 각각의 항목들이 만나는 부분을 해결해 가는 방법이다. </p>
            <h4> 육색모 사고법</h4>
            <p>하양, 빨강, 검정, 노랑, 초록, 파랑의 6가지 색상에 각기 다른 독특한 관점을 정의해 두고, 참여자들이 각자 다른 색깔의 관점에서 정해진 색상 순서로 역할을 분담애서 생각을 전개
                해 가는 방법이다. </p>
                     <h3>시각화의 과정</h3>
                     <p>어떤 아이디어를 하나의 그림으로 표현해 나가는 과정을 시각화 과정이라 하며, 이 과정
을 통해 아이디어가 정리되고 발전된다. 시각화 과정에는 나름대로의 단계가 있고, 단계마
다 꼭 표현되어야 할 중요한 내용이 있다. 아이디어를 시각화 할 때에는 빠른 시간 내에 효과적인 그림이 될 수 있도록 표현해야 하
며, 단계별로 고려할 사항을 검토하면서 빠르게 진행 시킨다.</p>
    <ol>
        <li> 1단계 : 간략하고 빠르게 그리기
        <ul>
            <li>자신의 구상을 간략하면서도 빠른 속도로 그리는 단계로, 이 단계에서 개념상의 문제를검토하고, 최종 그림의 토대를 세운다.
            </li>
        </ul>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
     <h3>아이디어 스케치 종류</h3>
     <h4> 섬네일 스케치(Thumbnail sketch)</h4>
     <p>섬네일 스케치는 엄지손톱(Thumbnail)이라는 단어가 뜻하는 바와 같이 작은 크기로 대략
스케치한 것을 말한다. 아이디어 발상 과정에서 떠오르는 여러 가지 콘셉트나 생각을 최
초로 표현하는 과정이다. 메모하듯 그리며, 간략하게 스케치한다. 상세한 묘사보다는 전체
적인 이미지나 핵심 아이디어를 기록하는데 중점을 두고 다양하게 많이 표현한다</p>
     <h4> 스크래치 스케치(Scratch sketch)</h4>
     <p>스크래치 스케치는 빠른 속도로 휘갈려서 스케치한 것을 말한다. 따라서 이들은 둘다 디
자인 초기 단계에 활용되는 간략한 스케치라고 할 수 있다. 미술과 그래픽 디자인에서는
종이에 작은 그림을 그리는 것을 서술하기 위해 이 용어들을 사용하며, 여러 가지 생각을
빠르게 잡아 나갈 수 있다</p>
     <h4> 러프 스케치(Rough sketch)</h4>
     <p>개략적인 스케치라는 뜻으로 아이디어를 비교, 검토하는 것을 목적으로 한다. 선 그리기, 간단한 음영, 재질 표현을 포함으로 섬네일 스케치보다 명확하여 구체적인 아이디어를 나
타낼 수 있다. </p>

    
    
    
    
    
    
    
    
    
    
    
    
    
</ol>